name: Run Pytest

on:
  push: 
    branches: ["**"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run test
        run: python -m pytest tests/test_hello.py

      - name: Create timestamp
        run: echo "TS=$(date +%Y-%m-%d-%H-%M-%S)" >> $GITHUB_ENV

      - name: Create tag
        run: docker tag $IMAGE:latest $IMAGE:${{ env.TS }}
